/* Write your CSS here */

.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 80vh;
  width: 80vw;
  background-size: cover;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  border: 2px solid #e4ebf3;
}
.card-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 40%;
  width: 30%;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  background-color: #ffffff;
  border-color: #e4ebf3;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0b69ff;
  font-size: 12px;
  font-family: 'roboto';
  font-weight: bold;
  padding-bottom: 5px;
}
.para {
  color: #333333;
  font-size: 12px;
  font-family: 'roboto';
  font-weight: bold;
  padding-bottom: 5px;
}
.button {
  background-color: #0b69ff;
  color: white;
  font-size: 8px;
  border-radius: 7px;
  border-width: 0px;
  padding: 8px;
  padding-bottom: 5px;
}
.count {
  color: #0b69ff;
  font-size: 40px;
  font-weight: bold;
  font-family: 'roboto';
}
